---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import About from "../components/about.astro";
import Floor from "../components/Floor.astro";
import Menu from "../components/Menu.astro";
import Access from "../components/Access.astro";
import Gallary from "../components/Gallary.astro";
---

<Layout title="bar chrome">
  <main class="overflow-hidden ">
    <Hero />
    <About />

    <Floor />
    <Menu />
    <Access />
    <Gallary />
  </main>
</Layout>
