---
import { Image } from "astro:assets";
import aboutImage from "../assets/cherry-laithang-EyUrlifbgv4-unsplash.jpg";
import SectionTitle from "../components/SectionTitle.astro";
---

<section class="bg-secondary px-6 py-12 lg:py-24" id="About">
  <div class="relative flex flex-col justify-between lg:flex lg:flex-row">
    <div class="">
      <SectionTitle
        class="pb-8 text-accent/30 lg:absolute lg:left-0 lg:top-0 lg:pb-0"
      >
        About Us
      </SectionTitle>
    </div>

    <Image
      src={aboutImage}
      alt="aboutImage"
      format="webp"
      class="-mx-6 aspect-square h-[200px] self-end lg:mx-0 lg:h-[400px] lg:w-1/2 lg:self-auto"
    />
  </div>

  <div class="px-6 pt-12">
    <h3 class="text-2xl lg:text-5xl font-bold">カジュアルにいける町田の隠れバー</h3>

    <span
      class="divider before:border-2 before:border-accent after:border-2 after:border-accent"
    ></span>

    <p class="lg:text-lg leading-6 lg:leading-9">
      Bar Choromeは大人で落ち着いた雰囲気の町田のバーです！<br />
      ボックス席もございますので、仲の良い仲間同士でも楽しくお酒が飲めます！<br
      />
      外から見ると一見狭そうに見えますが、意外と店内広いので、貸切にも最適です！
    </p>
  </div>
</section>
