---
import { Picture } from "@astrojs/image/components";
import aboutImage from "../assets/cherry-laithang-EyUrlifbgv4-unsplash.jpg";
import SectionTitle from "./SectionTitle.astro";
---

<section class="bg-secondary px-6 py-24" id="About">
  <div class="mx-auto max-w-screen-2xl">
    <div class="relative flex flex-col justify-between lg:flex lg:flex-row">
      <div class="">
        <SectionTitle
          class="pb-8 text-accent/30 lg:absolute lg:left-0 lg:top-0 lg:pb-0"
        >
          About Us
        </SectionTitle>
      </div>

      <Picture
        src={aboutImage}
        aspectRatio="16:9"
        widths={[100, 300, 500]}
        sizes="(max-width: 1024px) 100vw,800px"
        alt="descriptive text"
      />
    </div>

    <div class="px-6 pt-12">
      <h3 class="text-2xl font-bold lg:text-5xl">
        カジュアルにいける町田の隠れバー
      </h3>

      <span
        class="divider before:border-2 before:border-accent after:border-2 after:border-accent"
      ></span>

      <p class="leading-6 lg:text-lg lg:leading-9">
        Bar Choromeは大人で落ち着いた雰囲気の町田のバーです！<br />
        ボックス席もございますので、仲の良い仲間同士でも楽しくお酒が飲めます！<br
        />
        外から見ると一見狭そうに見えますが、意外と店内広いので、貸切にも最適です！
      </p>
    </div>
  </div>
</section>
