---
import GoogleMap from "./GoogleMap.astro";
import SectionTitle from "./SectionTitle.astro";
import AccessCard from "./AccessCard.astro";
---

<section class="py-24" id="Access">
  <div class="mx-auto max-w-screen-2xl">
    <SectionTitle class="flex justify-end pb-16 pr-6 text-accent/30">
      Access
    </SectionTitle>

    <AccessCard />

    <div class="px-6 pt-20 lg:px-0">
      <GoogleMap />
    </div>
  </div>
</section>
