---
import Divider from "./Divider.astro";
const { title, class: clasName } = Astro.props;

type Props = {
  title: string;
  class: string;
} & astroHTML.JSX.SlotHTMLAttributes;
---

<div class:list={[clasName, "absolute bottom-20 bg-white/50 p-6"]}>
  <h3 class="z-10 text-6xl">{title}</h3>
  <Divider class="z-10 mt-0" />
  <p class="z-10 text-2xl">
    <slot />
  </p>
</div>
