---
import Counnter from "../assets/Frame 69 (1).png";
import Entrance from "../assets/Frame 56.png";
import SectionTitle from "./SectionTitle.astro";
import FloorCard from "./FloorCard.astro";
import CustomPicture from "./CustomPicture.astro";
---

<section class="pb-16 pt-24" id="Floor">
  <div class="mx-auto max-w-screen-2xl">
    <SectionTitle class="flex justify-end pb-16 pr-6 text-accent/30">
      Floor
    </SectionTitle>

    <div class="grid gap-40 lg:gap-20">
      <div class="relative flex flex-col justify-start lg:flex-row">
        <CustomPicture
          src={Counnter}
          aspectRatio="16:9"
          widths={[200, 400, 800]}
          sizes="(max-width: 1024px) 100vw ,1000px"
          alt="counterImage"
        />

        <FloorCard title="Counter" class="right-0 lg:right-32" id="Counter">
          バー好きにも大好評の隠れ家です。<br
          />都会の喧騒を忘れ、落ち着いて飲めます
        </FloorCard>
      </div>

      <div class="relative flex flex-col justify-end lg:flex-row">
        <CustomPicture
          src={Entrance}
          aspectRatio="16:9"
          widths={[200, 400, 800]}
          sizes="(max-width: 1024px) 100vw ,1000px"
          alt="entranceImage"
        />

        <FloorCard title="Entrance" class="left-0 lg:left-32" id="Entrance">
          入り口からは少し暗く見えますが <br
          />ここを抜けると、カウンターが現れます。
        </FloorCard>
      </div>
    </div>
  </div>
</section>
