---
import { Image } from "astro:assets";
import Counnter from "../assets/Frame 69 (1).png";
import Entrance from "../assets/Frame 56.png";
import SectionTitle from "./SectionTitle.astro";
import FloorCard from "./FloorCard.astro";
---

<section class="pb-16 pt-24" id="Floor">
  <SectionTitle class="flex justify-end pb-16 pr-6 text-accent/30">
    Floor
  </SectionTitle>

  <div class="grid gap-40 lg:gap-20">
    <div class="relative flex flex-col justify-start lg:flex-row">
      <Image
        src={Counnter}
        alt="counteImage"
        width={954}
        height={555}
        class=""
      />
      <FloorCard title="Counter" class="right-0 lg:right-32">
        カウンターこんな感じですよーとか店内 <br />のイメージが伝わるようにする
      </FloorCard>
    </div>

    <div class="relative flex flex-col justify-end lg:flex-row">
      <Image
        src={Entrance}
        alt="entranceImage"
        width={954}
        height={555}
        class=""
      />
      <FloorCard title="Entrance" class="left-0 lg:left-32">
        カウンターこんな感じですよーとか店内 <br />のイメージが伝わるようにする
      </FloorCard>
    </div>
  </div>
</section>
