---
import SectionTitle from "./SectionTitle.astro";
---

<section class="bg-secondary px-6 py-24" id="Gallary">
  <SectionTitle class="flex justify-start pb-16 text-accent/30">
    Gallary
  </SectionTitle>

  <div>
    <div class="carousel rounded-box">
      <div class="carousel-item">
        <img src="../assets/Frame 109 (1).png" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="../assets/Frame 109 (1).png" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="../assets/Frame 109 (1).png" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="../assets/Frame 109 (1).png" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="../assets/Frame 109 (1).png" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="../assets/Frame 109 (1).png" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="../assets/Frame 109 (1).png" alt="Burger" />
      </div>
    </div>
  </div>
</section>
