---
import "@splidejs/splide/css";
import gallaryImage from "../assets/Frame 109 (1).png";
import SectionTitle from "./SectionTitle.astro";
import CustomPicture from "./CustomPicture.astro";
---

<section class="bg-secondary px-6 py-24" id="Gallary">
  <div class="mx-auto max-w-screen-2xl">
    <SectionTitle class="flex justify-start pb-16 text-accent/30">
      Gallary
    </SectionTitle>

    <section class="splide" aria-label="carousel">
      <div class="splide__track">
        <ul class="splide__list" id="carousel">
          {
            new Array(6).fill(null).map((_, index) => (
              <li class="splide__slide">
                <CustomPicture
                  src={gallaryImage}
                  aspectRatio="1:1"
                  widths={[200, 400, 800]}
                  sizes="(max-width: 1024px) 100vw, 500px"
                  alt={"descriptive text" + index}
                />
              </li>
            ))
          }
        </ul>
      </div>
    </section>

    <script>
      import Splide from "@splidejs/splide";
      import { scrollObserver } from "../scripts/scrollObserver";

      document.addEventListener("DOMContentLoaded", () => {
        const splide = new Splide(".splide", {
          type: "loop",
          perPage: 3,
          drag: true,
          breakpoints: {
            1024: {
              perPage: 1,
            },
          },
        });
        splide.mount();
      });
    </script>
  </div>
</section>
