---
import SectionTitle from "./SectionTitle.astro";
---

<section class="bg-secondary px-6 pt-16 pb-24" id="Gallary">
  <SectionTitle class="flex justify-start text-accent/30 pb-16">Gallary</SectionTitle>

  <div>
    <div class="carousel rounded-box">
      <div class="carousel-item">
        <img src="src/assets/Frame 109 (1).png" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="src/assets/Frame 109 (1).png" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="src/assets/Frame 109 (1).png" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="src/assets/Frame 109 (1).png" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="src/assets/Frame 109 (1).png" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="src/assets/Frame 109 (1).png" alt="Burger" />
      </div>
      <div class="carousel-item">
        <img src="src/assets/Frame 109 (1).png" alt="Burger" />
      </div>
    </div>
  </div>
</section>
