---
const navItems = ["Home", "About Us", "Floor", "Menu", "Access","Gallary"];
---

<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <nav class="navbar h-full w-full p-0">
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" class="btn-ghost btn-square btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-6 w-6 stroke-current"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path></svg
          >
        </label>
      </div>
      <h1 class="ml-6 flex-1 font-montserrat text-2xl text-neutral">
        Bar chrome
      </h1>
      <div class="hidden h-full lg:block">
        <div class="flex h-full gap-16">
          <ul
            class="my-auto flex gap-3 text-center font-montserrat text-neutral"
          >
            {
              navItems.map((nav) => (
                <li class=" px-7 border-b border-neutral pb-0.5">
                  <a href={`#${nav}`} class="">
                    {nav}
                  </a>
                </li>
              ))
            }
          </ul>

          <div class="my-auto flex h-full bg-accent px-6 text-white">
            <dl class="flex items-center gap-4">
              <dt>ご予約・お問い合わせ</dt>
              <dd class="font-montserrat text-2xl">070-4419-3000</dd>
            </dl>
          </div>
        </div>
      </div>
    </nav>
    <!-- Page content here -->
  </div>
  <div class="drawer-side z-[100] opacity-100">
    <label for="my-drawer-3" class="drawer-overlay"></label>
    <ul class="h-full w-80 rounded-none bg-base-200 p-4">
      <!-- Sidebar content here -->
      <li class="py-3 hover:bg-primary"><a>Sidebar Item 1</a></li>
      <li class="py-3 hover:bg-primary"><a>Sidebar Item 2</a></li>
    </ul>
  </div>
</div>
