---
import { Picture } from "@astrojs/image/components";
import heroImage from "../assets/adam-jaime-dmkmrNptMpw-unsplash.jpg";
---

<div class="relative mt-16 overflow-hidden" id="Home">
  <Picture
    src={heroImage}
    aspectRatio="16:9"
    widths={[200, 400, 800]}
    sizes="(max-width: 1024px) 100vw, (max-width:1536px) 1536px, 1980px"
    alt="heroImage"
  />
  <div
    class="absolute bottom-24 left-20 z-10 grid place-items-center items-center gap-1 text-white"
  >
    <span class="absolute -top-6 font-montserrat text-lg">scroll</span>
    <span
      class="absolute top-0 h-28 w-[1px] animate-scroll-down bg-white opacity-0"
    ></span>
  </div>
</div>
