---
import { Image } from "astro:assets";
import heroImage from "../assets/adam-jaime-dmkmrNptMpw-unsplash.jpg";
---

<div class="relative">
  <Image src={heroImage} alt="heroImage" format="webp" />
  <div
    class="absolute bottom-24 left-20 z-10 grid place-items-center items-center gap-1 text-white"
  >
    <span class="absolute -top-6 font-montserrat text-lg">scroll</span>
    <span
      class="absolute top-0 h-28 w-[1px] animate-scroll-down bg-white opacity-0"
    ></span>
  </div>
</div>
