---
import { Image } from "astro:assets";
import whiskeyImage from "../assets/Frame 109.png";
import cocketailImage from "../assets/Frame 109 (1).png";
import wineImage from "../assets/Frame 109 (2).png";
import foodImage from "../assets/Frame 109 (3).png";
import Divider from "./Divider.astro";
import SectionTitle from "./SectionTitle.astro";
import MenuCard from "./MenuCard.astro";
---

<section class="grid -scroll-my-10 gap-10 pt-24 lg:gap-20" id="Menu">
  <SectionTitle class="flex justify-start pl-6 text-accent/30">
    Menu
  </SectionTitle>

  <MenuCard menuImage={whiskeyImage} order title="Whiskey" />
  <MenuCard menuImage={cocketailImage} title="Cocktail" />
  <MenuCard menuImage={cocketailImage} order title="Wine" />
  <MenuCard menuImage={foodImage} notMenu title="Food" />
</section>
