---
import { Picture } from "@astrojs/image/components";
import Divider from "./Divider.astro";

type Menus = {
  label: string;
  price?: number;
  text?: string;
};
type Props = {
  menuImage: string;
  order?: boolean;
  title: string;
  notMenu?: boolean;
  menus: Menus[];
};
const { menuImage, order, title, notMenu, menus } = Astro.props;
const winePriceLabel = title === "Wine" ? "円〜" : "円";
---

<figure class="flex flex-col gap-3 bg-secondary lg:flex-row" id="menuCard">
  <Picture
    src={menuImage}
    aspectRatio="16:9"
    widths={[100, 300, 500]}
    sizes="(max-width: 1024px) 100vw, 800px"
    alt="descriptive text"
  />

  <figcaption
    class:list={[order && " order-last lg:order-first ", "basis-2/3 p-6 "]}
  >
    <h2 class="text-2xl lg:text-6xl">{title}</h2>
    <Divider class="mb-0" />
    {
      !notMenu ? (
        <ul>
          {menus?.map((menu) => (
            <li class="w-full border-b border-accent py-4">
              <dl class="flex w-full items-center justify-between">
                <dt>{menu.label}</dt>
                <dd>
                  {menu.price
                    ? menu.price.toLocaleString() + winePriceLabel
                    : menu.text}
                </dd>
              </dl>
            </li>
          ))}
        </ul>
      ) : (
        <p class="py-4 lg:text-xl">
          おつまみは無料です！様々なスナック菓子をご用意しております。
        </p>
      )
    }
  </figcaption>
</figure>

<div></div>

<script>
  import { scrollobserver } from "../scripts/scrollObserver";
  scrollobserver("#menuCard", "animate-fade-in-bottom");
</script>
