<div
  id="scrollTopButton"
  class="invisible fixed bottom-6 right-6 z-40 my-auto grid h-16 w-16 cursor-pointer place-items-center rounded-sm bg-accent p-2 text-white opacity-0 lg:h-20 lg:w-20"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="h-6 w-6"
    ><g
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      ><path d="M0 0h24v24H0z"></path><path
        fill="currentColor"
        d="m11.375 6.22l-5 4A1 1 0 0 0 6 11v6l.006.112a1 1 0 0 0 1.619.669L12 14.28l4.375 3.5A1 1 0 0 0 18 17v-6a1 1 0 0 0-.375-.78l-5-4a1 1 0 0 0-1.25 0z"
      ></path></g
    ></svg
  >

  <span class="whitespace-nowrap text-[6px] lg:text-xs">PAGE TOP</span>
</div>

<script defer>
  //一定以上スクロールしたら出現し、ページTopに戻る実装
  const scrollTopButton = document.getElementById("scrollTopButton");
  const classes = ["invisible", "opacity-0"];

  window.addEventListener("scroll", () => {
    const threshold = 600; // px

    const method = window.scrollY > threshold ? "remove" : "add";
    scrollTopButton?.classList[method](...classes);
  });

  scrollTopButton?.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
