---
const { class: className } = Astro.props;
type Props = {
  class: string;
};
---

<h2
  id="sectionTitle"
  class:list={[
    className,
    " font-montserrat text-[64px] lg:text-[160px] font-bold opacity-0  ",
  ]}
>
  <slot />
</h2>

<script>
  //scrollobserver

  const handleIntersection = (
    entries: IntersectionObserverEntry[],
    observer: IntersectionObserver
  ) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        const target = entry.target as HTMLElement;

        target.classList.add("animate-fade-in-bottom");
        observer.unobserve(target);
      }
    });
  };
  const observer = new IntersectionObserver(handleIntersection, {
    root: null,
    threshold: 0,
  });
  const elements = document.querySelectorAll(`#sectionTitle`);
  elements.forEach((element) => {
    element && observer.observe(element);
  });
</script>
