---
import '@fontsource-variable/montserrat';
const { class: className } = Astro.props;
type Props = {
  class: string;
};
---

<h2
  id="sectionTitle"
  class:list={[
    className,
    " font-montserrat text-[64px] lg:text-[160px] font-bold opacity-0  ",
  ]}
>
  <slot />
</h2>

<script>
  import { scrollobserver } from "../scripts/scrollObserver";
  scrollobserver("#sectionTitle", "animate-fade-in-bottom");
</script>
