---
const { class: className } = Astro.props;
type Props = {
  class: string;
};
---

<h2
  class:list={[
    className,
    " font-montserrat text-[64px] lg:text-[160px] font-bold ",
  ]}
>
  <slot />
</h2>
